/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap"); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 2%;
}

.App-logo {
  /* height: 25vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; 
  }
}

.App-container {
  /* min-height: 100vh; */
  /* max-width: 100vh; */
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: start; */
}

.App-container-centralised {
  min-height: 100vh;
  /* max-width: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  min-height: 95.3vh;
  /* padding: 0 0.5rem; */
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}
