@import "~antd/dist/antd.less";

// @body-background: #262835;
@layout-body-background: #fff;
// @layout-body-background: #262835;
// @primary-color:  #6666ff; // primary color for all components
// @primary-color:  #4d4dff; // primary color for all components
@primary-color:  RGB(224, 27, 132); // primary color for all components eg. #e01b84, #E01B84
// @link-color: #9999ff; // link color
// @link-color: #4d4dff; // link color
@link-color: #6666ff; // link color
// @link-color: RGB(224, 27, 132); // link color
// @success-color: #52c41a; // success state color
// @warning-color: #faad14; // warning state color
// @error-color: #f5222d; // error state color
// @font-size-base: 14px; // major text font size
// @heading-color: rgba(0, 0, 0, 0.85); // heading text color
@text-color: #262835; // major text color
// @text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
// @disabled-color: rgba(0, 0, 0, 0.25); // disable state color
// @border-radius-base: 2px; // major border radius
// @border-color-base: #d9d9d9; // major border color
// @box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05); // major shadow for layers